<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si el archivo o directorio existe, lo sirve normalmente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirige todas las demás peticiones a index.php
  RewriteRule ^ index.php [QSA,L]
</IfModule>